aiohttp==3.6.3
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.6.20
chardet==3.0.4
discord.py==1.5.1
fuzzywuzzy==0.18.0
idna==2.10
idna-ssl==1.1.0
multidict==4.7.6
numpy==1.19.4
opencv-python==4.4.0.46
opencv-python3==1.0
Pillow==8.0.1
pkg-resources==0.0.0
pytesseract==0.3.6
python-dotenv==0.15.0
requests==2.24.0
typing-extensions==3.7.4.3
urllib3==1.25.11
yarl==1.5.1
